<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="relay.book.intentdemob2"
    android:versionCode="21"
    android:versionName="0.8" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- GCM 관련 퍼미션 -->
    <permission
        android:name="relay.book.intentdemob2.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="relay.book.intentdemob2.permission.C2D_MESSAGE" />
    <!-- GCM 받기 -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM을 받으려면 구글 계정 필요 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 메시지 받을 때 wake up 하기 위해 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.VIBRATE"/>
	
	
	
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="RelayBook"
        android:theme="@android:style/Theme.NoTitleBar" >

        <!-- GCM 리시버 -->
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="relay.book.intentdemob2" /> <!-- 젤리빈 부터는 category 빼도 된다 -->
            </intent-filter>
        </receiver>

        <!-- GCM 리시버에서 돌리는 서비스 -->
        <service android:name="relay.book.intentdemob2.GCMIntentService" /> <!-- 서비스명 변경하면 안됨 -->

        <activity
            android:name="relay.book.Relaybook.MainActivity"
            android:label="RelayBook" >
            <intent-filter>
                	<action android:name="android.intent.action.MAIN" />
                	<category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            
            
              <!-- custom scheme(execute url) -->
            <intent-filter>
                <data  android:scheme="RB" android:host="RelayBook"/>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- 팝업 띄우기 -->
         <activity
            android:name="relay.book.intentdemob2.MsgShowActivity"
            android:label="RelayBook"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
       
        <activity
            android:name="relay.book.Relaybook.SplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="relay.book.Relaybook.RelayBookLogin"
            android:label="RelayBook" >
        </activity>
        <activity
            android:name="relay.book.Relaybook.Write"
            android:label="Write" >
        </activity>
        <activity
            android:name="relay.book.Relaybook.Read"
            android:label="Read" >
        </activity>
        <activity
            android:name="relay.book.Relaybook.Buy"
            android:label="Buy" >
        </activity>
        <activity
            android:name="relay.book.Relaybook.Buy2"
            android:label="Buy2" >
        </activity>
        <activity
            android:name="relay.book.Relaybook.Tab"
            android:label="RelayBook" >
        </activity>
        <activity
            android:name="relay.book.Mylist.my_book_list"
            android:label="my_book_list" >
        </activity>
        <activity
            android:name="relay.book.Mylist.View_mylist"
            android:label="View_mylist" >
        </activity>
        <activity
            android:name="relay.book.Relaybook.Read2"
            android:label="Read2" >
        </activity>
        <activity
            android:name="relay.book.Option.Option"
            android:label="Option" >
        </activity>
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.zxing.client.android.encode.EncodeActivity"
            android:label="@string/share_name" >
            <intent-filter>
                <action android:name="com.google.zxing.client.android.ENCODE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- This allows us to handle the Share button in Contacts. -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/x-vcard" />
            </intent-filter>
            <!-- This allows us to handle sharing any plain text . -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.zxing.client.android.book.SearchBookContentsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/sbc_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SEARCH_BOOK_CONTENTS" />s
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.zxing.client.android.wifi.WifiActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/wa_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.google.zxing.client.android.share.ShareActivity"
            android:label="@string/share_name"
            android:screenOrientation="user"
            android:theme="@android:style/Theme.Light" >
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SHARE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.zxing.client.android.share.BookmarkPickerActivity"
            android:label="@string/bookmark_picker_name" >
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.zxing.client.android.share.AppPickerActivity"
            android:configChanges="orientation"
            android:label="@string/app_picker_name" >
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="relay.book.intentdemob2.NotificationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
             >
        </activity>
        <activity
            android:name="relay.book.Chatting.Chatting"
            android:label="Chatting" >
        </activity>
        <activity
            android:name="relay.book.Chatting.ExamData"
            android:label="ExamData" >
        </activity>
    </application>

</manifest>